<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            IMDB Language Model
        </title>
    </head>
    <body>
        <h3>
            IMDB Movie Review Generator
        </h3>
        <p>
            <form action="/analyze" target="_blank" method="post">
                Write the first few words of your review and then let the model do the rest: <input style="width:200px" type="text" name="first_name">  <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>
