<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            IMDB Language Model
        </title>
    </head>
    <body>
        <h3>
            <center>IMDB Movie Review Generator</center>
        </h3>
        <p>
            <form align='center' action="/analyze" target="_blank" method="post">
                <center>Write the first few words of your review and then let the model do the rest: </center><input align='center' style="width:400px" type="text" name="first_name">  <br />
                <input align='center' type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>
