body {
    background: url('../static/images/bck.jpg');
    height: 920px;
    background-size: cover;
    background-position: center;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 100px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 15px rgb(0, 0, 0);
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 13px;
  color: rgb(63, 208, 121);
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #239343;
    border-radius: 12px;
    background-color: #239343;
    font-size: 13px;
    color: #ffffff;
}

button:focus {outline:0;}
